/**************************************************
Estilo para dispositivos pequeños tablets, móviles
***************************************************/

@media (max-width: 768px) {

	body {
		display: flex;
		flex-direction: column;
		gap: 1vw;
		padding: 2vw;
		margin: 0;
		background-color: #b4fcdf;
		font-family: Verdana, sans-serif; 
		font-size: 3vw;
		color: black;
	}
	
	.contenedor {
		min-width: 60vw;
		margin: auto; 
		background-color: #f9a32a; 
		padding: 0.5em;
		border-radius: 10px;
		border-style: solid;
		border-color: rgb(7, 122, 80);
	}

	h1 {
		font-size: 1.8em;
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 1.4em;
		margin: 0;
	}

	p {
		margin: 0;
		padding: 0;
		font-size: 1.2em;
	}
	
	.formulario {
		display: flex;
		flex-direction: column;
		padding: 0.3em;
	}

	.centrado {
		align-items: center;
		text-align: center;
	}
	
	.izquierda {
		text-align: left;
		padding-right: 10px;
	}

	#bienvenida {
		min-width: max-content;
		padding: 0.3em;
	}

	#bienvenida h2 {
		font-size: 1.2em;
		margin: 0;
	}

	#bienvenida button {
		font-size: 0.7em;
	}

	label {
		font-size: 1.3em;
	}

	input {
		width: 100%;
		box-sizing: border-box;
		border-radius: 10px;
		border-style: solid;
		border-width: 1.5px;
		border-color: black;
		padding: 0.1em 0.5em ;
		margin: 0.1em 0em 0.4em 0em;
		font-size: 1.2em;
	}

	select {
		width: 100%;
		font-size: 1.3em;
		box-sizing: border-box;
		margin: 0.2em 0em 0.4em 0em;
		cursor: pointer;
	}

	button {
		border-radius: 10px;
		max-width: max-content;
		padding: 0.3em;
		margin: 0.2em;
		font-size: 1em;
		cursor: pointer;
	}

	button:hover {
		background-color: #b4c9fc;
		transform: scale(1.05);
	}

	.informacion {
		display: none;
		background-color: aqua;
		position: fixed;
		border: solid 1.5px black;
		border-radius: 5px;
		width: 90%;
		height: 10%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3vw;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.mensajes {
		width: 100%; 
		max-height: 50vh;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		font-size: 3vw;
		box-sizing: border-box;
	}

	.mensajes table {
		width: 100%;
		border-collapse: collapse;
		background-color: #00ffbf;
	}

	.mensajes th {
		position: sticky;
		top: 0;
		background-color: darkorange;
		z-index: 2;
		padding: 2px;
		font-size: 0.7em;
	}

	.mensajes td {
		padding: 1px 2px;
	}

	#hora, #remite, #estado {
		text-align: center;
	}

	#hora, #estado {
		font-size: 0.6em;
	}

	.burbuja {
		display: inline-block;
		background-color: aliceblue;
		border: solid 1px black;
		border-radius: 10px;
		text-align: left;
		word-wrap: break-word;
		white-space: pre-wrap;
		padding: 3px 8px;
		max-width: 63vw;
	}

	.nuevo_mensaje {
		background-color: darkorange;
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
	}
	
	#form_nuevo_mensaje {
		display: flex;
		align-items: flex-end;
		gap: 10px;
	}

	textarea {
		resize: none;
		flex: 1;
		border-radius: 5px;
		margin: 5px;
		font-size: 1em;
	}

	a {
		background-color: #ff7f50;
		color: #f2ff00;
		border: solid 1.5px black;
		border-radius: 5px;
		text-decoration: none;
		padding: 0px 2px;
	}

	a:hover {
		background-color:#f2ff00;
		color: #ff7f50;
	}

}

/**********************************************************
 Estilo para dispositivos grandes (laptops, Pantallas PC) 
***********************************************************/

@media (min-width: 769px) {
	
	body {
		display: flex;
		flex-direction: column;
		gap: 1vw;
		padding: 0.5vw;
		margin: 0;
		background-color: #b4c9fc;
		font-family: Verdana, sans-serif; 
		font-size: 1vw;
		color: black;
		
	}

	.contenedor {
		margin: auto; 
		background-color: #2a84f9; 
		padding: 0.5em;
		border-radius: 10px;
		border-style: solid;
		border-color: rgb(7, 7, 122);
	}

	h1 {
		font-size: 2.2em;
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 1.8em;
		margin: 0;
	}

	p {
		margin: 0;
		padding: 0;
		font-size: clamp( 15px, 1.5em, 17px);
	}

	.formulario {
		display: flex;
		flex-direction: column;
		padding: 0.3em;
	}

	.centrado {
		align-items: center;
		text-align: center;
	}
	
	.izquierda {
		text-align: left;
		padding-right: 10px;
	}

	label {
		font-size: clamp( 15px, 2vw, 17px);
	}

	input {
		width: 100%;
		box-sizing: border-box;
		border-radius: 10px;
		border-style: solid;
		border-width: 1.5px;
		border-color: black;
		padding: 0.1em 0.5em ;
		margin: 0.1em 0em 0.4em 0em;
		font-size: clamp( 15px, 2vw, 17px);
	}

	select {
		width: 100%;
		font-size: clamp( 12px, 1.3em, 16px);
		box-sizing: border-box;
		margin: 0.2em 0em 0.4em 0em;
		cursor: pointer;
	}

	button {
		border-radius: 10px;
		max-width: max-content;
		padding: 0.3em;
		margin: 0.2em;
		font-size: clamp( 10px, 1em, 14px);
		cursor: pointer;
	}

	button:hover {
		background-color: #b4c9fc;
		transform: scale(1.05);
	}

	.informacion {
		display: none;
		background-color: aqua;
		position: fixed;
		border: solid 1.5px black;
		border-radius: 5px;
		width: 90%;
		height: 10%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3vw;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.mensajes {
		width: 95%; 
		max-height: 50vh;
		background-color: #2af95a; 
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		font-size: clamp( 13.5px, 2vw, 15px);
	}

	.mensajes table {
		width: 100%;
		border-collapse: collapse;
		background-color: #00ffbf;
	}

	.mensajes th {
		position: sticky;
		top: 0;
		background-color: darkorange;
		z-index: 2;
		padding: 2px 8px;
	}

	.mensajes td {
		padding: 1px 8px;
	}

	.burbuja {
		display: inline-block;
		background-color: aliceblue;
		border: solid 1px black;
		border-radius: 10px;
		text-align: left;
		word-wrap: break-word;
		white-space: pre-wrap;
		padding: 3px 8px;
		max-width: 68vw;
	}

	.nuevo_mensaje {
		background-color: darkorange;
		width: 95%;
		padding: 5px;
	}
	
	#form_nuevo_mensaje {
		display: flex;
		align-items: flex-end;
		gap: 10px;
	}

	textarea {
		resize: none;
		flex: 1;
		border-radius: 5px;
		margin: 5px;
		font-size: clamp( 13.5px, 2vw, 15px);
	}

	a {
		background-color: #ff7f50;
		color: #f2ff00;
		border: solid 1.5px black;
		border-radius: 5px;
		text-decoration: none;
		padding: 0px 2px;
	}

	a:hover {
		background-color:#f2ff00;
		color: #ff7f50;
	}
	
}