body { 
	background-color: #a9bef5;
	font-family: Verdana; 
	font-size: 16px; 
	color: #444; 
} 

a {color: #26ff05; text-decoration: none;} 
 
a:hover {text-decoration: underline;} 
 
h1, h2 {margin-bottom: 15px} 
 
h1 {font-size: 20px;} 
h2 {font-size: 18px} 
 
div { 
	width: max-content	; 
	margin: 20px auto; 
	background-color: #2a84f9; 
	overflow: hidden;
	padding: 15px; 
} 
 
#mensajes {
	width: 80%; 
	max-height: 30vh;
	margin: 20px auto; 
	background-color: #34f92a; 
	overflow-y: auto;
	overflow-x: hidden;
	padding: 15px; 

}